<!-- ============================================================= SECTION – CLIENTS ============================================================= -->

<section id="clients">
    <div class="container inner">

        <div class="row">
            <div class="col-md-8 col-sm-9 center-block text-center">
                <header>
                    <h1>Clients</h1>
                    <p>Magnis modipsae que voloratati andigen daepeditem quiate re porem aut labor. Laceaque quiae sitiorem rest non restibusaes maio es dem tumquam.</p>
                </header>
            </div><!-- /.col -->
        </div><!-- /.row -->

        <div class="row thumbs gap-lg inner-top-sm">

            <div class="col-md-3 col-sm-4 col-xs-6 thumb">
                <figure>
                    <figcaption class="text-overlay">
                        <div class="info">
                            <h4>Client</h4>
                        </div><!-- /.info -->
                    </figcaption>
                    <img src="assets/images/art/client01.jpg" alt="">
                </figure>
            </div><!-- /.col -->

            <div class="col-md-3 col-sm-4 col-xs-6 thumb">
                <figure>
                    <figcaption class="text-overlay">
                        <div class="info">
                            <h4>Client</h4>
                        </div><!-- /.info -->
                    </figcaption>
                    <img src="assets/images/art/client02.jpg" alt="">
                </figure>
            </div><!-- /.col -->

            <div class="col-md-3 col-sm-4 col-xs-6 thumb">
                <figure>
                    <figcaption class="text-overlay">
                        <div class="info">
                            <h4>Client</h4>
                        </div><!-- /.info -->
                    </figcaption>
                    <img src="assets/images/art/client03.jpg" alt="">
                </figure>
            </div><!-- /.col -->

            <div class="col-md-3 col-sm-4 col-xs-6 thumb">
                <figure>
                    <figcaption class="text-overlay">
                        <div class="info">
                            <h4>Client</h4>
                        </div><!-- /.info -->
                    </figcaption>
                    <img src="assets/images/art/client04.jpg" alt="">
                </figure>
            </div><!-- /.col -->

            <div class="col-md-3 col-sm-4 col-xs-6 thumb">
                <figure>
                    <figcaption class="text-overlay">
                        <div class="info">
                            <h4>Client</h4>
                        </div><!-- /.info -->
                    </figcaption>
                    <img src="assets/images/art/client05.jpg" alt="">
                </figure>
            </div><!-- /.col -->

            <div class="col-md-3 col-sm-4 col-xs-6 thumb">
                <figure>
                    <figcaption class="text-overlay">
                        <div class="info">
                            <h4>Client</h4>
                        </div><!-- /.info -->
                    </figcaption>
                    <img src="assets/images/art/client06.jpg" alt="">
                </figure>
            </div><!-- /.col -->

            <div class="col-md-3 col-sm-4 col-xs-6 thumb">
                <figure>
                    <figcaption class="text-overlay">
                        <div class="info">
                            <h4>Client</h4>
                        </div><!-- /.info -->
                    </figcaption>
                    <img src="assets/images/art/client07.jpg" alt="">
                </figure>
            </div><!-- /.col -->

            <div class="col-md-3 col-sm-4 col-xs-6 thumb">
                <figure>
                    <figcaption class="text-overlay">
                        <div class="info">
                            <h4>Client</h4>
                        </div><!-- /.info -->
                    </figcaption>
                    <img src="assets/images/art/client08.jpg" alt="">
                </figure>
            </div><!-- /.col -->

            <div class="col-md-3 col-sm-4 col-xs-6 thumb">
                <figure>
                    <figcaption class="text-overlay">
                        <div class="info">
                            <h4>Client</h4>
                        </div><!-- /.info -->
                    </figcaption>
                    <img src="assets/images/art/client09.jpg" alt="">
                </figure>
            </div><!-- /.col -->

            <div class="col-md-3 col-sm-4 col-xs-6 thumb">
                <figure>
                    <figcaption class="text-overlay">
                        <div class="info">
                            <h4>Client</h4>
                        </div><!-- /.info -->
                    </figcaption>
                    <img src="assets/images/art/client10.jpg" alt="">
                </figure>
            </div><!-- /.col -->

            <div class="col-md-3 col-sm-4 col-xs-6 thumb">
                <figure>
                    <figcaption class="text-overlay">
                        <div class="info">
                            <h4>Client</h4>
                        </div><!-- /.info -->
                    </figcaption>
                    <img src="assets/images/art/client11.jpg" alt="">
                </figure>
            </div><!-- /.col -->

            <div class="col-md-3 col-sm-4 col-xs-6 thumb">
                <figure>
                    <figcaption class="text-overlay">
                        <div class="info">
                            <h4>Client</h4>
                        </div><!-- /.info -->
                    </figcaption>
                    <img src="assets/images/art/client12.jpg" alt="">
                </figure>
            </div><!-- /.col -->

        </div><!-- /.row -->

    </div><!-- /.container -->
</section>

<!-- ============================================================= SECTION – CLIENTS : END ============================================================= -->
