<!--     *********     HEADER 3      *********      -->
<div class="header-3">
    <!-- Carousel Card -->
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="page-header header-filter" style="background-image: url('/{{ site.path.images }}/meeting.png');">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6 text-left">
                                <h1 class="title">A platform for <br>Nonprofits, Donors, and Businesses</h1>
                                <h4>Nonprofits can work smarter with donors and businesses.</h4>
                                <br>
                                <div class="buttons">
                                    <a href="{{ site.app_link }}" class="btn btn-danger btn-lg">
                                        Get Started Now
                                    </a>
                                    <a href="{{ site.twitter_link}}" class="btn btn-just-icon btn-white btn-link">
                                        <i class="fa fa-twitter"></i>
                                    </a>
                                    <a href="{{ site.facebook_link}}" class="btn btn-just-icon btn-white btn-link">
                                        <i class="fa fa-facebook-square"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="page-header header-filter" style="background-image: url('/{{ site.path.images }}/dining.png');">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-8 ml-auto mr-auto text-center">
                                <h1 class="title">Premium and <br>Affordable</h1>
                                <h4>Manage your benefit auction or other event. <br>Keep more money for the causes you care about.</h4>
                                <br>
                                <h6>Connect with us on:</h6>
                                <div class="buttons">
                                    <a href="{{ site.twitter_link}}" class="btn btn-just-icon btn-white btn-link btn-lg">
                                        <i class="fa fa-twitter"></i>
                                    </a>
                                    <a href="{{ site.facebook_link}}" class="btn btn-just-icon btn-white btn-link btn-lg">
                                        <i class="fa fa-facebook-square"></i>
                                    </a>
                                    <a href="{{ site.instagram_link}}" class="btn btn-just-icon btn-white btn-link btn-lg">
                                        <i class="fa fa-instagram"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="page-header header-filter" style="background-image: url('/{{ site.path.images }}/kitchen.png');">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-7 ml-auto text-right">
                                <h1 class="title">Just focus on <br>your cause</h1>
                                <h4>Take a break from frustration and <br>let Gorilla Give do all the heavy lifting.</h4>
                                <br>
                                <div class="buttons">
                                    <a href="{{ site.app_link }}" class="btn btn-danger btn-lg">
                                        Get Started Now
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="carousel-item">
                <div class="page-header header-filter" style="background-image: url('/{{ site.path.images }}/raise-hand.png');">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6 text-left">
                                <h1 class="title">Connect with volunteers for <br>your cause</h1>
                                <h4>Gorilla Give is building social into all of our products.<br>You just have to signup to take advantage.</h4>
                                <br>
                                <h6>Connect with us on:</h6>
                                <div class="buttons">
                                    <a href="{{ site.twitter_link}}" class="btn btn-just-icon btn-white btn-link btn-lg">
                                        <i class="fa fa-twitter"></i>
                                    </a>
                                    <a href="{{ site.facebook_link}}" class="btn btn-just-icon btn-white btn-link btn-lg">
                                        <i class="fa fa-facebook-square"></i>
                                    </a>
                                    <a href="{{ site.instagram_link}}" class="btn btn-just-icon btn-white btn-link btn-lg">
                                        <i class="fa fa-instagram"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <i class="material-icons">keyboard_arrow_left</i>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <i class="material-icons">keyboard_arrow_right</i>
            <span class="sr-only">Next</span>
        </a>
    </div>
    <!-- End Carousel Card -->
</div>
<!--     *********    END HEADER 3      *********      -->