---
layout: default
---


<div class="page-header header-filter header-small" data-parallax="true" style="background-image: url('/{{site.path.images}}/seattle.png');">
    <div class="container">
        <div class="row">
            <div class="col-md-8 ml-auto mr-auto text-center">
                <h1 class="title">About Us</h1>
            </div>
        </div>
    </div>
</div>
<div class="main main-raised">
    <div class="container">
        <div class="section-space"></div>
        <div class="about-description">
            <div class="row">
                <div class="col-md-10 ml-auto mr-auto">
                    <h2>The Idea</h2>
                    <h5>{{ page.origin1 }}</h5>
                    <h5>{{ page.origin2 }}</h5>
                    <h5>{{ page.origin3 }}</h5>
                    <h2>The Solution</h2>
                    <h5>{{ page.today }}</h5>
                    <h2>Our Commitment</h2>
                    <h5>{{ page.commitment }}</h5>
                </div>
            </div>
        </div>
        <div class="about-team team-1">
            <div class="row">
                <div class="col-md-8 ml-auto mr-auto text-center">
                    <h2 class="title">Meet our Founder</h2>
                </div>
            </div>
            <div class="row">
                {% for person in site.profiles %}
                {% if person.name == "Dustin Graves" %}
                <div class="col-md-12">
                    <div class="card card-profile card-plain">
                        <div class="card-avatar">
                                <img class="img" src="{{ person.gravatar }}">
                        </div>
                        <div class="card-body">
                            <h4 class="card-title">{{ person.name }}</h4>
                            <h6 class="category text-muted">{{ person.title }}</h6>
                            <p >
                                {{person.firstname}} {{ person.blurb }}
                            </p>
                        </div>
                        <div class="card-footer justify-content-center">
                            <a href="{{ site.social.twitter }}{{ person.twitter }}" class="btn btn-just-icon btn-link btn-twitter">
                                <i class="fa fa-twitter"></i>
                            </a>
                            <a href="{{ site.social.linkedin }}{{ person.linkedin }}" class="btn btn-just-icon btn-link btn-linkedin">
                                <i class="fa fa-linkedin"></i>
                            </a>
                        </div>
                    </div>
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>