---
layout: default
---

<!-- ============================================================= MAIN ============================================================= -->

<main>

    <!-- ============================================================= SECTION – HERO ============================================================= -->

    <section id="hero" class="img-bg-bottom img-bg-soft tint-bg" style="background-image: url(assets/images/art/slider03.jpg);">
        <div class="container inner">
            <div class="row">
                <div class="col-sm-10">
                    <header>
                        <h1>Hi, we are {{ site.company }} — <br>Fundraising Event Software</h1>
                    </header>
                </div><!-- /.col -->
            </div><!-- ./row -->
        </div><!-- /.container -->
    </section>

    <!-- ============================================================= SECTION – HERO : END ============================================================= -->


    <!-- ============================================================= SECTION – WHO WE ARE ============================================================= -->

    <section id="who-we-are">
        <div class="container inner-md">
            <div class="row inner-top-xs">

                <div class="col-sm-6 inner-right-xs inner-bottom-xs">
                    <h2>Who we are</h2>
                    <p>{{ page.who }}</p>
                </div><!-- /.col -->

                <div class="col-sm-6 inner-left-xs inner-bottom-xs">
                    <h2>What we do</h2>
                    <p>{{ page.what }}</p>
                </div><!-- /.col -->

            </div><!-- /.row -->
        </div><!-- /.container -->
    </section>

    <!-- ============================================================= SECTION – WHO WE ARE : END ============================================================= -->


    <!-- ============================================================= SECTION – TEAM ============================================================= -->

    <section id="team" class="light-bg">
        <div class="container inner-top inner-bottom-sm">

            <div class="row">
                <div class="col-md-8 col-sm-10 center-block text-center">
                    <header>
                        <h1>{{ page.header }}</h1>
                        <p>{{ page.description }}</p>
                    </header>
                </div><!-- /.col -->
            </div><!-- /.row -->
            {% for person in site.profiles %}
                {% assign last = forloop.length | modulo:3 %}
                {% assign mod = forloop.index0 | modulo:3 %}

                {% if mod == 0 or forloop.index0 == 0 %}
                    {% if forloop.first %}
                        <div class="row inner-top-sm text-center">
                    {% else %}
                        <div class="row text-center">
                    {% endif %}
                {% endif %}
                    <div class="col-sm-4 inner-bottom-sm inner-left inner-right">
                        <figure class="member">

                            <div class="icon-overlay icn-link">
                                <a href="#"><img src="{{ person.gravatar }}" class="img-circle"></a>
                            </div><!-- /.icon-overlay -->
                            <figcaption>
                                <h2>
                                   {{ person.name }}
                                    <span>{{ person.title }}</span>
                                </h2>
                                <blockquote>{{person.firstname}} {{ person.blurb }}</blockquote>
                                <ul class="social">
                                    <li><a href="{{ site.social.linkedin }}{{ person.linkedin }}"><i class="icon-s-linkedin"></i></a></li>
                                    <li><a href="{{ site.social.twitter }}{{ person.twitter }}"><i class="icon-s-twitter"></i></a></li>
                                </ul><!-- /.social -->
                            </figcaption>
                        </figure>
                    </div><!-- /.col -->

                {% if mod == 2 and forloop.index0 >= 2%}
                     </div><!-- /.row middle -->
                {% endif %}

                {% if forloop.last and last != 0 %}
                    </div><!-- /.row last -->
                {% endif %}
            {% endfor %}

        </div><!-- /.container -->
    </section>

    <!-- ============================================================= SECTION – TEAM : END ============================================================= -->



    <!-- ============================================================= SECTION – GET IN TOUCH ============================================================= -->

    <section id="get-in-touch" class="light-bg img-bg-softer" style="background-image: url(assets/images/art/pattern-background01.jpg);">
        <div class="container inner-sm">
            <div class="row">
                <div class="col-sm-10 center-block text-center">
                    <h1 class="single-block">Want to learn more? <a href="contact.html" class="btn btn-large">Get in touch</a></h1>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container -->
    </section>

    <!-- ============================================================= SECTION – GET IN TOUCH : END ============================================================= -->

</main>

<!-- ============================================================= MAIN : END ============================================================= -->
		