---
layout: default
---
<div class="profile-page sidebar-collapse">
<div class="page-header header-filter" data-parallax="true" style="background-image: url('/{{site.path.images}}/stars-background.png');"></div>
<div class="main main-raised">

<div class="container">
    <div class="row">
        <div class="col-md-12 col-lg-7 mr-auto ml-auto text-center">
            <h2 class="title">{{ page.title }}</h2>
            <h4 class="title">{{ page.subtitle }}</h4>
        </div>
    </div>
    <div class="row">

    <div class="col-md-6 ml-auto">
        <img src="/{{site.path.images}}/{{ page.icon }}" style="max-height:400px;max-width:100%;margin:auto;display:block" class=" ml-auto rounded" alt="app logo">
        <div class="section-space"></div>

    </div>
    <div class="col-md-6 mr-auto ml-auto stats">
    <p>{{ page.description }}</p>

            <div class="submit">
                <a href="https://app.gorillagive.com/apps"><button class="btn btn-primary btn-raised" name="getApp" id="getApp">Get App</button></a>
            </div>



        <h4 class="title">Categories</h4>
        {% for category in page.categories %}
        <span class="badge badge-rose">{{ category }}</span>
        {% endfor %}
        <hr>

        <h4 class="title">Tags</h4>
        {% for tag in page.tags %}
        <span class="badge badge-info">{{ tag }}</span>
        {% endfor %}
        <hr>
        <h4 class="title">Supported Browsers</h4>
        {% for browser in page.compatibility-browser %}
        <i class="fa fa-{{ browser }}"></i>
        {% endfor %}

    </div>
    </div>
    <div class="row">

        <div class="col-sm-12">
            <p>
                {{ page.content }}
            </p>
        </div>
    </div>
</div>
    <!--     *********    TESTIMONIALS 2     *********      -->
    <div class="testimonials-2">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div id="carouselExampleIndicatorss" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                            {% for testamonial in page.testamonials %}
                            {% if forloop.index == 1 %}
                            <div class="carousel-item active">
                            {% else %}
                            <div class="carousel-item">
                            {% endif %}
                                <div class="card card-testimonial card-plain">

                                    <h2 class="title">App Reviews</h2>
                                    <div class="card-body">
                                        <h5 class="card-description">"{{ testamonial.text }}"
                                        </h5>
                                        <h4 class="card-title">{{ testamonial.name }}</h4>
                                        <h5>{{ testamonial.org }}</h5>
                                        <h6 class="card-category text-muted">{{ testamonial.title }}</h6>
                                        <div class="footer">

                                            {% for i in (1..testamonial.stars) %}
                                            <i class="material-icons text-warning">star</i>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        <a class="carousel-control-prev" href="#carouselExampleIndicatorss" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleIndicatorss" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--     *********    END TESTIMONIALS 2      *********      -->
    </div>
</div>
</div>
</div>