---
layout: default
---

<!--&lt;!&ndash; ============================================================= MAIN ============================================================= &ndash;&gt;-->

<!--<main>-->

    <!--&lt;!&ndash; ============================================================= SECTION – PORTFOLIO ============================================================= &ndash;&gt;-->

    <!--<section id="portfolio">-->

        <!--<div class="container inner">-->
            <!--<div class="row">-->
                <!--<div class="col-md-8 col-sm-9 center-block text-center">-->
                    <!--<header>-->
                        <!--<h1>Gorilla Give Apps</h1>-->
                        <!--<p>Check out our growing selection of apps.</p>-->
                    <!--</header>-->
                <!--</div>&lt;!&ndash; /.col &ndash;&gt;-->
            <!--</div>&lt;!&ndash; /.row &ndash;&gt;-->
        <!--</div>&lt;!&ndash; /.container &ndash;&gt;-->

        <!--<div class="container inner-bottom">-->
            <!--<div class="row">-->
                <!--<div class="col-sm-12 portfolio">-->

                    <!--<ul class="filter text-center">-->
                        <!--<li><a href="#" data-filter="*" class="active">All</a></li>-->
                        <!--<li><a href="#" data-filter=".auction">Auction</a></li>-->
                        <!--<li><a href="#" data-filter=".segment">Segment</a></li>-->
                    <!--</ul>&lt;!&ndash; /.filter &ndash;&gt;-->

                    <!--<ul class="isotope items col-3">-->
                        <!--&lt;!&ndash;{% for app in site.apps %}&ndash;&gt;-->
                        <!--&lt;!&ndash;<li class="item thumb auction segment">&ndash;&gt;-->
                            <!--&lt;!&ndash;<a href="{{ app.url }}">&ndash;&gt;-->
                                <!--&lt;!&ndash;<figure>&ndash;&gt;-->
                                    <!--&lt;!&ndash;<figcaption class="text-overlay">&ndash;&gt;-->
                                        <!--&lt;!&ndash;<div class="info">&ndash;&gt;-->
                                            <!--&lt;!&ndash;<h4>{{ app.title }}</h4>&ndash;&gt;-->
                                            <!--&lt;!&ndash;<p>{{ app.subtitle }}</p>&ndash;&gt;-->
                                        <!--&lt;!&ndash;</div>&lt;!&ndash; /.info &ndash;&gt;&ndash;&gt;-->
                                    <!--&lt;!&ndash;</figcaption>&ndash;&gt;-->
                                    <!--&lt;!&ndash;<img src="/{{ site.path.images }}/{{ app.images[0].title }}" alt="{{ app.title }} Image">&ndash;&gt;-->
                                <!--&lt;!&ndash;</figure>&ndash;&gt;-->
                            <!--&lt;!&ndash;&lt;!&ndash;</a>&ndash;&gt;&ndash;&gt;-->
                        <!--&lt;!&ndash;</li>&lt;!&ndash; /.item &ndash;&gt;&ndash;&gt;-->
                        <!--&lt;!&ndash;{% endfor %}&ndash;&gt;-->
                    <!--</ul>&lt;!&ndash; /.items &ndash;&gt;-->

                <!--</div>&lt;!&ndash; /.col &ndash;&gt;-->
            <!--</div>&lt;!&ndash; /.row &ndash;&gt;-->
        <!--</div>&lt;!&ndash; /.container &ndash;&gt;-->
    <!--</section>-->

    <!--&lt;!&ndash; ============================================================= SECTION – PORTFOLIO : END ============================================================= &ndash;&gt;-->


    <!--&lt;!&ndash; ============================================================= SECTION – SHARE ============================================================= &ndash;&gt;-->

    <!--<section id="share" class="light-bg">-->
        <!--<div class="container">-->

            <!--<div class="col-sm-4 reset-padding">-->
                <!--<a href="{{ site.facebook_link }}" class="btn-share-md">-->
                    <!--<p class="name">Facebook</p>-->
                    <!--<i class="icon-s-facebook"></i>-->
                    <!--&lt;!&ndash;<p class="counter">1080</p>&ndash;&gt;-->
                <!--</a>-->
            <!--</div>&lt;!&ndash; /.col &ndash;&gt;-->

            <!--<div class="col-sm-4 reset-padding">-->
                <!--<a href="{{ site.twitter_link }}" class="btn-share-md">-->
                    <!--<p class="name">Twitter</p>-->
                    <!--<i class="icon-s-twitter"></i>-->
                    <!--&lt;!&ndash;<p class="counter">1263</p>&ndash;&gt;-->
                <!--</a>-->
            <!--</div>&lt;!&ndash; /.col &ndash;&gt;-->

            <!--<div class="col-sm-4 reset-padding">-->
                <!--<a href="{{ site.instagram_link }}" class="btn-share-md">-->
                    <!--<p class="name">Instagram</p>-->
                    <!--<i class="icon-s-instagram"></i>-->
                    <!--&lt;!&ndash;<p class="counter">963</p>&ndash;&gt;-->
                <!--</a>-->
            <!--</div>&lt;!&ndash; /.col &ndash;&gt;-->

        <!--</div>&lt;!&ndash; /.container &ndash;&gt;-->
    <!--</section>-->

    <!--&lt;!&ndash; ============================================================= SECTION – SHARE : END ============================================================= &ndash;&gt;-->

<!--</main>-->

<!-- ============================================================= MAIN : END ============================================================= -->
<div class="subscribe-line subscribe-line-image" style="background-image: url('/assets/img/bg7.jpg');">
    <div class="container">
        <div class="row">
            <div class="col-md-6 ml-auto mr-auto">
                <div class="text-center">
                    <h2 class="title">App Market Place</h2>
                    <p style="color: white">A growing selection of apps for nonprofit events and users</p>
                </div>

            </div>
        </div>
    </div>
</div>


<div class="section-light">
<!--     *********    PROJECTS 1     *********      -->
<div class="projects-1" id="projects-1">
    <div class="container">
        <div class="row">
            <div class="col-md-8 ml-auto mr-auto text-center">
                <!--<h2 class="title">App Market Place</h2>-->
                <ul class="nav nav-pills nav-pills-rose">
                    <li class="nav-item">
                        <a class="nav-link active" href="#pill1" data-toggle="tab">All</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#pill2" data-toggle="tab">Auction</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#pill3" data-toggle="tab">Segment</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#pill3" data-toggle="tab">Nonprofit</a>
                    </li>
                    <!--<li class="nav-item">-->
                        <!--<a class="nav-link" href="#pill3" data-toggle="tab">Personal</a>-->
                    <!--</li>-->
                </ul>
                <div class="tab-content tab-space">
                    <div class="tab-pane active" id="pill1">
                    </div>
                    <div class="tab-pane" id="pill2">
                    </div>
                    <div class="tab-pane" id="pill3">
                    </div>
                </div>
            </div>
        </div>


            <!--     *********    BLOG CARDS     *********      -->
            <div class="cards">
                <div class="container">
                    <div class="row">  {% for app in site.apps %}
                        <div class="col-lg-4 col-md-6">

                            <!--<li class="item thumb auction segment">-->
                            <!--<a href="{{ app.url }}">-->
                            <!--<figure>-->
                            <!--<figcaption class="text-overlay">-->
                            <!--<div class="info">-->
                            <!--<h4>{{ app.title }}</h4>-->
                            <!--<p>{{ app.subtitle }}</p>-->
                            <!--</div>&lt;!&ndash; /.info &ndash;&gt;-->
                            <!--</figcaption>-->
                            <!--<img src="/{{ site.path.images }}/{{ app.images[0].title }}" alt="{{ app.title }} Image">-->
                            <!--</figure>-->
                            <!--&lt;!&ndash;</a>&ndash;&gt;-->
                            <!--</li>&lt;!&ndash; /.item &ndash;&gt;-->
                            <div class="card card-blog">
                                <div class="card-header card-header-image">
                                    <a href="{{ app.url }}">
                                        <img class="img" src="/{{ site.path.images }}/{{ app.images[0].title }}" alt="{{ app.title }} Image">
                                    </a>
                                </div>
                                <div class="card-body ">
                                    <h6 class="card-category text-success">Apps for Nonprofits</h6>
                                    <h4 class="card-title">
                                        <a href="{{ app.url }}">{{ app.title }}</a>
                                        {{ app.subtitle }}
                                    </h4>
                                    <p class="card-description">
                                        {{ app.description }}
                                    </p>
                                </div>
                                <div class="card-footer ">
                                    <div class="author">
                                        <a href="#pablo">
                                            <img src="/{{ site.path.images }}/{{ app.logo }}" alt="{{ app.developer }} logo" class="avatar img-raised">
                                            <span>{{ app.developer }}</span>
                                        </a>
                                    </div>
                                    <div class="text-warning stats ml-auto">
                                        <i class="material-icons">attach_money</i> {{ app.cost }}
                                    </div>
                                </div>
                            </div>


                        </div>  {% endfor %}
                    </div>
                </div>
            </div>



    </div>
</div>
<!--     *********    END PROJECTS 1      *********      -->

</div>
<div class="subscribe-line subscribe-line-image" style="background-image: url('/assets/img/examples/office2.jpg');">
    <div class="container">
        <div class="row">
            <div class="col-md-8 ml-auto mr-auto text-center">
                <h1 class="title"> Interested in listing your App?</h1>
                <h4 style="color: white">The App Market Place is open to all organizations and developers. If you want your app listed or are unsure but want to know more, contact us now!</h4>
            </div>
            <div class="col-md-10 ml-auto mr-auto">
                <div class="card card-raised card-form-horizontal">
                    <div class="card-body ">
                        <form method="" action="">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <input type="text" value="" placeholder="Organization Name" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <input type="email" value="" placeholder="Email" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <button type="button" class="btn btn-danger btn-block">Contact</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% include sections/social.html %}