---
layout: default
---
<!-- ============================================================= MAIN ============================================================= -->

<main>

    <!-- ============================================================= SECTION – POPULAR POSTS ============================================================= -->

    <!--<section id="popular-posts" class="light-bg">-->
        <!--<div class="container inner-top-md">-->
            <!--<div class="row">-->
                <!--<div class="col-sm-12">-->
                    <!--<div id="accordion" class="panel-group">-->
                        <!--<div class="panel panel-default">-->

                            <!--<div class="panel-heading">-->
                                <!--<h4 class="panel-title">-->
                                    <!--<a class="panel-toggle" data-toggle="collapse" data-parent="#accordion" href="#content">-->
                                        <!--<span>Popular posts</span>-->
                                    <!--</a>-->
                                <!--</h4>-->
                            <!--</div>&lt;!&ndash; /.panel-heading &ndash;&gt;-->

                            <!--<div id="content" class="panel-collapse collapse in">-->
                                <!--<div class="panel-body">-->
                                    <!--<div id="owl-popular-posts" class="owl-carousel owl-item-gap-sm">-->

                                        <!--<div class="item">-->
                                            <!--<a href="blog-post.html">-->
                                                <!--<figure>-->
                                                    <!--<figcaption class="text-overlay">-->
                                                        <!--<div class="info">-->
                                                            <!--<h4>Vintage Bicycles</h4>-->
                                                            <!--<p>Interactive</p>-->
                                                        <!--</div>&lt;!&ndash; /.info &ndash;&gt;-->
                                                    <!--</figcaption>-->
                                                    <!--<img src="assets/images/art/work03.jpg" alt="">-->
                                                <!--</figure>-->
                                            <!--</a>-->
                                        <!--</div>&lt;!&ndash; /.item &ndash;&gt;-->

                                        <!--<div class="item">-->
                                            <!--<a href="blog-post.html">-->
                                                <!--<figure>-->
                                                    <!--<figcaption class="text-overlay">-->
                                                        <!--<div class="info">-->
                                                            <!--<h4>Simpli Nota</h4>-->
                                                            <!--<p>Identity</p>-->
                                                        <!--</div>&lt;!&ndash; /.info &ndash;&gt;-->
                                                    <!--</figcaption>-->
                                                    <!--<img src="assets/images/art/work04.jpg" alt="">-->
                                                <!--</figure>-->
                                            <!--</a>-->
                                        <!--</div>&lt;!&ndash; /.item &ndash;&gt;-->

                                        <!--<div class="item">-->
                                            <!--<a href="blog-post.html">-->
                                                <!--<figure>-->
                                                    <!--<figcaption class="text-overlay">-->
                                                        <!--<div class="info">-->
                                                            <!--<h4>Vinyl Records</h4>-->
                                                            <!--<p>Identity</p>-->
                                                        <!--</div>&lt;!&ndash; /.info &ndash;&gt;-->
                                                    <!--</figcaption>-->
                                                    <!--<img src="assets/images/art/work07.jpg" alt="">-->
                                                <!--</figure>-->
                                            <!--</a>-->
                                        <!--</div>&lt;!&ndash; /.item &ndash;&gt;-->

                                        <!--<div class="item">-->
                                            <!--<a href="blog-post.html">-->
                                                <!--<figure>-->
                                                    <!--<figcaption class="text-overlay">-->
                                                        <!--<div class="info">-->
                                                            <!--<h4>Astor & Yancy</h4>-->
                                                            <!--<p>Identity</p>-->
                                                        <!--</div>&lt;!&ndash; /.info &ndash;&gt;-->
                                                    <!--</figcaption>-->
                                                    <!--<img src="assets/images/art/work09.jpg" alt="">-->
                                                <!--</figure>-->
                                            <!--</a>-->
                                        <!--</div>&lt;!&ndash; /.item &ndash;&gt;-->

                                        <!--<div class="item">-->
                                            <!--<a href="blog-post.html">-->
                                                <!--<figure>-->
                                                    <!--<figcaption class="text-overlay">-->
                                                        <!--<div class="info">-->
                                                            <!--<h4>Signwall</h4>-->
                                                            <!--<p>Identity</p>-->
                                                        <!--</div>&lt;!&ndash; /.info &ndash;&gt;-->
                                                    <!--</figcaption>-->
                                                    <!--<img src="assets/images/art/work16.jpg" alt="">-->
                                                <!--</figure>-->
                                            <!--</a>-->
                                        <!--</div>&lt;!&ndash; /.item &ndash;&gt;-->

                                        <!--<div class="item">-->
                                            <!--<a href="blog-post.html">-->
                                                <!--<figure>-->
                                                    <!--<figcaption class="text-overlay">-->
                                                        <!--<div class="info">-->
                                                            <!--<h4>Tri Fold Brochure</h4>-->
                                                            <!--<p>Print</p>-->
                                                        <!--</div>&lt;!&ndash; /.info &ndash;&gt;-->
                                                    <!--</figcaption>-->
                                                    <!--<img src="assets/images/art/work10.jpg" alt="">-->
                                                <!--</figure>-->
                                            <!--</a>-->
                                        <!--</div>&lt;!&ndash; /.item &ndash;&gt;-->

                                        <!--<div class="item">-->
                                            <!--<a href="blog-post.html">-->
                                                <!--<figure>-->
                                                    <!--<figcaption class="text-overlay">-->
                                                        <!--<div class="info">-->
                                                            <!--<h4>Embroidered</h4>-->
                                                            <!--<p>Identity</p>-->
                                                        <!--</div>&lt;!&ndash; /.info &ndash;&gt;-->
                                                    <!--</figcaption>-->
                                                    <!--<img src="assets/images/art/work05a.jpg" alt="">-->
                                                <!--</figure>-->
                                            <!--</a>-->
                                        <!--</div>&lt;!&ndash; /.item &ndash;&gt;-->

                                        <!--<div class="item">-->
                                            <!--<a href="blog-post.html">-->
                                                <!--<figure>-->
                                                    <!--<figcaption class="text-overlay">-->
                                                        <!--<div class="info">-->
                                                            <!--<h4>El Corcho</h4>-->
                                                            <!--<p>Identity</p>-->
                                                        <!--</div>&lt;!&ndash; /.info &ndash;&gt;-->
                                                    <!--</figcaption>-->
                                                    <!--<img src="assets/images/art/work12.jpg" alt="">-->
                                                <!--</figure>-->
                                            <!--</a>-->
                                        <!--</div>&lt;!&ndash; /.item &ndash;&gt;-->

                                    <!--</div>&lt;!&ndash; /.owl-carousel &ndash;&gt;-->
                                <!--</div>&lt;!&ndash; /.panel-body &ndash;&gt;-->
                            <!--</div>&lt;!&ndash; /.content &ndash;&gt;-->

                        <!--</div>&lt;!&ndash; /.panel &ndash;&gt;-->
                    <!--</div>&lt;!&ndash; /.accordion &ndash;&gt;-->
                <!--</div>&lt;!&ndash; /.col &ndash;&gt;-->
            <!--</div>&lt;!&ndash; /.row &ndash;&gt;-->
        <!--</div>&lt;!&ndash; /.container &ndash;&gt;-->
    <!--</section>-->

    <!-- ============================================================= SECTION – POPULAR POSTS : END ============================================================= -->


    <!-- ============================================================= SECTION – BLOG ============================================================= -->

    <section id="blog" class="light-bg">
        <div class="container inner-top-sm inner-bottom classic-blog no-sidebar">

            <!--<div class="row inner-bottom-xs">-->
                <!--<div class="col-sm-12">-->
                    <!--<ul class="format-filter text-center">-->
                        <!--<li><a class="active" href="#" data-filter="*" title="All" data-rel="tooltip" data-placement="top"><i class="icon-th"></i></a></li>-->
                        <!--<li><a href="#" data-filter=".format-standard" title="Standard" data-rel="tooltip" data-placement="top"><i class="icon-edit"></i></a></li>-->
                        <!--<li><a href="#" data-filter=".format-image" title="Image" data-rel="tooltip" data-placement="top"><i class="icon-picture-1"></i></a></li>-->
                        <!--<li><a href="#" data-filter=".format-gallery" title="Gallery" data-rel="tooltip" data-placement="top"><i class="icon-picture"></i></a></li>-->
                        <!--<li><a href="#" data-filter=".format-video" title="Video" data-rel="tooltip" data-placement="top"><i class="icon-video-1"></i></a></li>-->
                        <!--<li><a href="#" data-filter=".format-audio" title="Audio" data-rel="tooltip" data-placement="top"><i class="icon-music-1"></i></a></li>-->
                        <!--<li><a href="#" data-filter=".format-quote" title="Quote" data-rel="tooltip" data-placement="top"><i class="icon-quote"></i></a></li>-->
                        <!--<li><a href="#" data-filter=".format-link" title="Link" data-rel="tooltip" data-placement="top"><i class="icon-popup"></i></a></li>-->
                    <!--</ul>&lt;!&ndash; /.format-filter &ndash;&gt;-->
                <!--</div>&lt;!&ndash; /.col &ndash;&gt;-->
            <!--</div>&lt;!&ndash; /.row &ndash;&gt;-->

            <div class="row">
                <div class="col-md-9 center-block">

                    <div class="posts sidemeta">

                        {% for post in site.posts %}
                        <div class="post {{ post.format }}">

                            <div class="date-wrapper">
                                <div class="date">
                                    <span class="day">{{ post.day }}</span>
                                    <span class="month">{{ post.month }}</span>
                                    <span class="year">{{ post.year }}</span>
                                </div><!-- /.date -->
                            </div><!-- /.date-wrapper -->

                            <div class="format-wrapper">
                                <a href="{{ post.url }}" data-filter=".{{ post.data-filter }}"><i class="{{ post.icon }}"></i></a>
                            </div><!-- /.format-wrapper -->

                            <div class="post-content">

                                {% if post.image %}
                                <figure class="icon-overlay icn-link post-media">
                                    <a href="{{post.url}}"><img src="{{site.path.images}}/{{post.image}}" alt=""></a>
                                </figure><!-- /.post-media -->
                                {% endif %}

                                <h2 class="post-title">
                                    <a href="{{post.url}}">{{post.title}}</a>
                                </h2>

                                <ul class="meta">
                                    <li class="categories"><a href="#">{{post.category}}</a></li>
                                    <!--<li class="comments"><a href="#">{{post.comments}}</a></li>-->
                                    <!--<li class="likes"><a href="#">{{post.likes}}</a></li>-->
                                </ul><!-- /.meta -->

                                <p>{{ post.excerpt }}</p>

                                <a href="{{post.url}}" class="btn">Read more</a>

                            </div><!-- /.post-content -->

                        </div><!-- /.post -->
                        {% endfor %}


                    </div><!-- /.posts -->

                    <!--<ul class="pagination">-->
                        <!--<li><a href="#">Prev</a></li>-->
                        <!--<li class="active"><a href="#">1</a></li>-->
                        <!--<li><a href="#">2</a></li>-->
                        <!--<li><a href="#">3</a></li>-->
                        <!--<li><a href="#">Next</a></li>-->
                    <!--</ul>&lt;!&ndash; /.pagination &ndash;&gt;-->

                </div><!-- /.col -->
            </div><!-- /.row -->

        </div><!-- /.container -->
    </section>

    <!-- ============================================================= SECTION – BLOG : END ============================================================= -->

</main>

<!-- ============================================================= MAIN : END ============================================================= -->
		