---
layout: default
---
<!-- ============================================================= MAIN ============================================================= -->

<main>
    <!--     *********     BLOGS 1      *********      -->
    <div class="blogs-1" id="blogs-1">
        <div class="container">
            <div class="row">
                <div class="col-md-10 ml-auto mr-auto">
                    <h2 class="title">Latest Blogposts</h2>
                    <br>
                    {% for post in site.posts %}
                    {% if post.year > 2016 %}
                    {% capture thecycle %}{% cycle 'odd', 'even' %}{% endcapture %}

                    <div class="card card-plain card-blog">
                        <div class="row">
                            {% if thecycle == 'odd' %}
                                {% if post.image %}
                                <div class="col-md-5">
                                    <div class="card-header card-header-image">
                                        <a href="{{post.url}}">
                                            <img src="/{{site.path.images}}/{{post.image}}" alt="blog post image">
                                        </a>
                                    </div>
                                </div>
                                {% endif %}
                            {% endif %}
                            {% if thecycle == 'even' %}
                            {% if post.image %}
                            <div class="d-md-none col-md-5">
                                <div class="card-header card-header-image">
                                    <a href="{{post.url}}">
                                        <img src="/{{site.path.images}}/{{post.image}}" alt="blog post image">
                                    </a>
                                </div>
                            </div>
                            {% endif %}
                            {% endif %}

                            <div class="col-md-7">
                                {% if post.categories %}
                                <h6 class="card-category text-info">
                                    {% for category in post.categories %}
                                    {{category}}
                                    {% endfor %}
                                </h6>
                                {% endif %}
                                <h3 class="card-title">
                                    <a href="{{post.url}}">{{post.title}}</a>
                                </h3>
                                <p class="card-description">
                                <p>{{ post.excerpt }} <a href="{{post.url}}"> Read More </a></p>


                                </p>
                                <p class="author">
                                    by
                                    <a href="{{post.authorUrl}}">
                                        <b>{{ post.author }}</b>
                                    </a>, <span class="month">{{ post.month }}</span>
                                    <span class="day">{{ post.day }}</span>

                                    <span class="year">{{ post.year }}</span>

                                </p>
                            </div>
                            {% if thecycle == 'even' %}
                            {% if post.image %}
                            <div class="d-none d-md-block col-md-5">
                                <div class="card-header card-header-image">
                                    <a href="{{post.url}}">
                                        <img src="/{{site.path.images}}/{{post.image}}" alt="blog post image">
                                    </a>
                                </div>
                            </div>
                            {% endif %}
                            {% endif %}
                        </div>
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <!--     *********    END BLOGS 1      *********      -->

</main>

<!-- ============================================================= MAIN : END ============================================================= -->
		