---
layout: default
---


<div class="page-header header-filter" data-parallax="true" style="background-image: url('/{{site.path.images }}/{{page.image}}');">
    <div class="container">
        <div class="row">
            <div class="col-md-8 ml-auto mr-auto text-center">
                <h1 class="title">{{ page.title }}</h1>
                <h4>{{ page.subtitle }}</h4>
                <br>
                <a href="#read-article" class="btn btn-rose btn-round btn-lg">
                    <i class="material-icons">format_align_left</i> Read Article
                </a>
            </div>
        </div>
    </div>
</div>
<a name="read-article"></a>
<div class="main main-raised">
    <div class="container">
        <div class="section section-text">
            <div class="row">
                <div class="col-md-8 ml-auto mr-auto">
                    <h3 class="title">{{ page.title }}</h3>
                    {{ page.content }}
                </div>
            </div>
        </div>
        <div class="section section-blog-info">
            <div class="row">
                <div class="col-md-8 ml-auto mr-auto">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="blog-tags">
                                Published: <span class="month">{{page.month}}</span>
                                <span class="day">{{page.day}},</span>
                                <span class="month">{{page.year}}</span>
                                {% if page.tags %}
                               <h6 class="card-category text-info">
                                   <p>Tags:
                                    {% for tag in page.tags %}
                                     <span class="badge badge-primary badge-pill">{{tag}}</span>
                                    {% endfor %}
                                   </p>
                                </h6>
                                {% endif %}

                            </div>
                        </div>
                        <!--<div class="col-md-6">-->
                            <!--<a href="#pablo" class="btn btn-google btn-round float-right">-->
                                <!--<i class="fa fa-google"></i> 232-->
                            <!--</a>-->
                            <!--<a href="#pablo" class="btn btn-twitter btn-round float-right">-->
                                <!--<i class="fa fa-twitter"></i> 910-->
                            <!--</a>-->
                            <!--<a href="#pablo" class="btn btn-facebook btn-round float-right">-->
                                <!--<i class="fa fa-facebook-square"></i> 872-->
                            <!--</a>-->
                        <!--</div>-->
                    </div>
                    <hr>
                    {% for author in site.profiles %}
                    {% if author.name == page.author %}
                    <div class="card card-profile card-plain">
                        <div class="row">
                            <div class="col-md-2">
                                <div class="card-avatar">

                                    <a href="#pablo">

                                        <img class="img" src="{{ author.gravatar }}">
                                    </a>
                                    <div class="ripple-container"></div>
                                </div>
                                <div class="card-footer justify-content-center">
                                    {% if author.twitter %}
                                    <a href="https://twitter.com/{{ author.twitter }}" class="btn btn-just-icon btn-link btn-twitter"><i class="fa fa-twitter"></i></a>
                                    {% endif %}
                                    {% if author.facebook %}
                                    <a href="https://www.facebook.com/{{ author.facebook }}" class="btn btn-just-icon btn-link btn-facebook"><i class="fa fa-facebook-square"></i></a>
                                    {% endif %}
                                    {% if author.linkedin %}
                                    <a href="https://www.linkedin.com/in/{{ author.linkedin }}" class="btn btn-just-icon btn-link btn-linkedin"><i class="fa fa-linkedin"></i></a>
                                    {% endif %}
                                    {% if author.youtube %}
                                    <a href="https://www.youtube.com/channel/{{ author.youtube }}" class="btn btn-just-icon btn-link btn-youtube"><i class="fa fa-youtube"></i></a>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="col-md-8">
                                <h4 class="card-title">{{ author.name }}</h4>
                                <p class="description">{{ author.blurb }}</p>
                            </div>

                            <!--<div class="col-md-2">-->
                                <!--<button type="button" class="btn btn-default pull-right btn-round">Follow</button>-->
                            <!--</div>-->
                        </div>
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
        <!--<div class="section section-comments">-->
            <!--<div class="row">-->
                <!--<div class="col-md-8 ml-auto mr-auto">-->
                    <!--<div class="media-area">-->
                        <!--<h3 class="title text-center">3 Comments</h3>-->
                        <!--<div class="media">-->
                            <!--<a class="float-left" href="#pablo">-->
                                <!--<div class="avatar">-->
                                    <!--<img class="media-object" src="../assets/img/faces/card-profile4-square.jpg" alt="...">-->
                                <!--</div>-->
                            <!--</a>-->
                            <!--<div class="media-body">-->
                                <!--<h4 class="media-heading">Tina Andrew-->
                                    <!--<small>&#xB7; 7 minutes ago</small>-->
                                <!--</h4>-->
                                <!--<h6 class="text-muted"></h6>-->
                                <!--<p>Chance too good. God level bars. I&apos;m so proud of @LifeOfDesiigner #1 song in the country. Panda! Don&apos;t be scared of the truth because we need to restart the human foundation in truth I stand with the most humility. We are so blessed!</p>-->
                                <!--<div class="media-footer">-->
                                    <!--<a href="#pablo" class="btn btn-primary btn-link float-right" rel="tooltip" title="Reply to Comment">-->
                                        <!--<i class="material-icons">reply</i> Reply-->
                                    <!--</a>-->
                                    <!--<a href="#pablo" class="btn btn-danger btn-link float-right">-->
                                        <!--<i class="material-icons">favorite</i> 243-->
                                    <!--</a>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div class="media">-->
                            <!--<a class="float-left" href="#pablo">-->
                                <!--<div class="avatar">-->
                                    <!--<img class="media-object" alt="Tim Picture" src="../assets/img/faces/card-profile1-square.jpg">-->
                                <!--</div>-->
                            <!--</a>-->
                            <!--<div class="media-body">-->
                                <!--<h4 class="media-heading">John Camber-->
                                    <!--<small>&#xB7; Yesterday</small>-->
                                <!--</h4>-->
                                <!--<p>Hello guys, nice to have you on the platform! There will be a lot of great stuff coming soon. We will keep you posted for the latest news.</p>-->
                                <!--<p> Don&apos;t forget, You&apos;re Awesome!</p>-->
                                <!--<div class="media-footer">-->
                                    <!--<a href="#pablo" class="btn btn-primary btn-link float-right" rel="tooltip" title="Reply to Comment">-->
                                        <!--<i class="material-icons">reply</i> Reply-->
                                    <!--</a>-->
                                    <!--<a href="#pablo" class="btn btn-link float-right">-->
                                        <!--<i class="material-icons">favorite</i> 25-->
                                    <!--</a>-->
                                <!--</div>-->
                                <!--<div class="media">-->
                                    <!--<a class="float-left" href="#pablo">-->
                                        <!--<div class="avatar">-->
                                            <!--<img class="media-object" alt="64x64" src="../assets/img/faces/card-profile4-square.jpg">-->
                                        <!--</div>-->
                                    <!--</a>-->
                                    <!--<div class="media-body">-->
                                        <!--<h4 class="media-heading">Tina Andrew-->
                                            <!--<small>&#xB7; 12 Hours Ago</small>-->
                                        <!--</h4>-->
                                        <!--<p>Hello guys, nice to have you on the platform! There will be a lot of great stuff coming soon. We will keep you posted for the latest news.</p>-->
                                        <!--<p> Don&apos;t forget, You&apos;re Awesome!</p>-->
                                        <!--<div class="media-footer">-->
                                            <!--<a href="#pablo" class="btn btn-primary btn-link float-right" rel="tooltip" title="Reply to Comment">-->
                                                <!--<i class="material-icons">reply</i> Reply-->
                                            <!--</a>-->
                                            <!--<a href="#pablo" class="btn btn-link btn-secondary float-right">-->
                                                <!--<i class="material-icons">favorite</i> 2-->
                                            <!--</a>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<h3 class="title text-center">Post your comment</h3>-->
                    <!--<div class="media media-post">-->
                        <!--<a class="author float-left" href="#pablo">-->
                            <!--<div class="avatar">-->
                                <!--<img class="media-object" alt="64x64" src="../assets/img/faces/card-profile6-square.jpg">-->
                            <!--</div>-->
                        <!--</a>-->
                        <!--<div class="media-body">-->
                            <!--<div class="form-group label-floating bmd-form-group">-->
                                <!--<label class="form-control-label bmd-label-floating" for="exampleBlogPost"> Write some nice stuff or nothing...</label>-->
                                <!--<textarea class="form-control" rows="5" id="exampleBlogPost"></textarea>-->
                            <!--</div>-->
                            <!--<div class="media-footer">-->
                                <!--<a href="#pablo" class="btn btn-primary btn-round btn-wd float-right">Post Comment</a>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--&lt;!&ndash; end media-post &ndash;&gt;-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    </div>
</div>
<!--<div class="section">-->
    <!--<div class="container">-->
        <!--<div class="row">-->
            <!--<div class="col-md-12">-->
                <!--<h2 class="title text-center">Other Posts</h2>-->
                <!--<br>-->
                <!--<div class="row">-->
                    <!--<div class="col-md-4">-->
                        <!--<div class="card card-blog">-->
                            <!--<div class="card-header card-header-image">-->
                                <!--<a href="#pablo">-->
                                    <!--<img class="img img-raised" src="../assets/img/examples/blog6.jpg">-->
                                <!--</a>-->
                            <!--</div>-->
                            <!--<div class="card-body">-->
                                <!--<h6 class="category text-info">Enterprise</h6>-->
                                <!--<h4 class="card-title">-->
                                    <!--<a href="#pablo">Autodesk looks to future of 3D printing with Project Escher</a>-->
                                <!--</h4>-->
                                <!--<p class="card-description">-->
                                    <!--Like so many organizations these days, Autodesk is a company in transition. It was until recently a traditional boxed software company selling licenses.-->
                                    <!--<a href="#pablo"> Read More </a>-->
                                <!--</p>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="col-md-4">-->
                        <!--<div class="card card-blog">-->
                            <!--<div class="card-header card-header-image">-->
                                <!--<a href="#pablo">-->
                                    <!--<img class="img img-raised" src="../assets/img/examples/blog8.jpg">-->
                                <!--</a>-->
                            <!--</div>-->
                            <!--<div class="card-body">-->
                                <!--<h6 class="category text-success">-->
                                    <!--Startups-->
                                <!--</h6>-->
                                <!--<h4 class="card-title">-->
                                    <!--<a href="#pablo">Lyft launching cross-platform service this week</a>-->
                                <!--</h4>-->
                                <!--<p class="card-description">-->
                                    <!--Like so many organizations these days, Autodesk is a company in transition. It was until recently a traditional boxed software company selling licenses.-->
                                    <!--<a href="#pablo"> Read More </a>-->
                                <!--</p>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="col-md-4">-->
                        <!--<div class="card card-blog">-->
                            <!--<div class="card-header card-header-image">-->
                                <!--<a href="#pablo">-->
                                    <!--<img class="img img-raised" src="../assets/img/examples/blog7.jpg">-->
                                <!--</a>-->
                            <!--</div>-->
                            <!--<div class="card-body">-->
                                <!--<h6 class="category text-danger">-->
                                    <!--<i class="material-icons">trending_up</i> Enterprise-->
                                <!--</h6>-->
                                <!--<h4 class="card-title">-->
                                    <!--<a href="#pablo">6 insights into the French Fashion landscape</a>-->
                                <!--</h4>-->
                                <!--<p class="card-description">-->
                                    <!--Like so many organizations these days, Autodesk is a company in transition. It was until recently a traditional boxed software company selling licenses.-->
                                    <!--<a href="#pablo"> Read More </a>-->
                                <!--</p>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->