---
layout: default
---


<div class="page-header header-filter" data-parallax="true" style="background-image: url('/{{site.path.images }}/{{page.image}}');">
    <div class="container">
        <div class="row">
            <div class="col-md-8 ml-auto mr-auto text-center">
                <h1 class="title">{{ page.title }}</h1>
                <h4>{{ page.subtitle }}</h4>
                <br>
                <a href="#read-article" class="btn btn-rose btn-round btn-lg">
                    <i class="material-icons">format_align_left</i> Read Article
                </a>
            </div>
        </div>
    </div>
</div>
<a name="read-article"></a>
<div class="main main-raised">
    <div class="container">
        <div class="section section-text">
            <div class="row">
                <div class="col-md-8 ml-auto mr-auto">
                    <h3 class="title">{{ page.title }}</h3>
                    {{ page.content }}
                </div>
            </div>
        </div>
        <div class="section section-blog-info">
            <div class="row">
                <div class="col-md-8 ml-auto mr-auto">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="blog-tags">
                                Published: <span class="month">{{page.month}}</span>
                                <span class="day">{{page.day}},</span>
                                <span class="month">{{page.year}}</span>
                                {% if page.tags %}
                               <h6 class="card-category text-info">
                                   <p>Tags:
                                    {% for tag in page.tags %}
                                     <span class="badge badge-primary badge-pill">{{tag}}</span>
                                    {% endfor %}
                                   </p>
                                </h6>
                                {% endif %}

                            </div>
                        </div>
                    </div>
                    <hr>
                    {% for author in site.profiles %}
                    {% if author.name == page.author %}
                    <div class="card card-profile card-plain">
                        <div class="row">
                            <div class="col-md-2">
                                <div class="card-avatar">
                                        <img class="img" src="{{ author.gravatar }}">
                                    <div class="ripple-container"></div>
                                </div>
                                <div class="card-footer justify-content-center">
                                    {% if author.twitter %}
                                    <a href="https://twitter.com/{{ author.twitter }}" class="btn btn-just-icon btn-link btn-twitter"><i class="fa fa-twitter"></i></a>
                                    {% endif %}
                                    {% if author.facebook %}
                                    <a href="https://www.facebook.com/{{ author.facebook }}" class="btn btn-just-icon btn-link btn-facebook"><i class="fa fa-facebook-square"></i></a>
                                    {% endif %}
                                    {% if author.linkedin %}
                                    <a href="https://www.linkedin.com/in/{{ author.linkedin }}" class="btn btn-just-icon btn-link btn-linkedin"><i class="fa fa-linkedin"></i></a>
                                    {% endif %}
                                    {% if author.youtube %}
                                    <a href="https://www.youtube.com/channel/{{ author.youtube }}" class="btn btn-just-icon btn-link btn-youtube"><i class="fa fa-youtube"></i></a>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="col-md-8">
                                <h4 class="card-title">{{ author.name }}</h4>
                                <p class="description">{{ author.blurb }}</p>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>