---
layout: default-with-header
---



  <!-- ============================================================= SECTION – PRICING TABLES ============================================================= -->

<div class="page-header header-filter header-small" data-parallax="true" style="background-image: url('../assets/img/bg2.jpg');">
  <div class="container">
    <div class="row">
      <div class="col-md-8 ml-auto mr-auto text-center">
        <h1 class="title">Let&apos;s get started</h1>
        <h4>To get started, you will need to choose a plan for your needs. You can opt in for the monthly of annual options and go with one fo the three listed below.</h4>
      </div>
    </div>
  </div>
</div>
<div class="main main-raised">
  <div class="container">

    <!--     *********    PRICING 5     *********      -->
    <div class="pricing-5" id="pricing-5">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <h2 class="title">Choose a plan for your next project</h2>
            <ul class="nav nav-pills nav-pills-rose">
              <li class="nav-item">
                <a class="nav-link" href="#monthly" data-toggle="tab">Monthly</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="#yearly" data-toggle="tab">Yearly</a>
              </li>
            </ul>
            <p class="text-gray">You have Free Unlimited Updates and Premium Support on each package. You also have 20 days to request a refund if you&apos;re not happy with your purchase.</p>
          </div>
          <div class="col-md-7 ml-auto mr-auto">
            <div class="tab-content tab-space">
              <div class="tab-pane active" id="yearly">
                <div class="row">
                  <div class="col-md-6">
                    <div class="card card-pricing card-raised">
                      <div class="card-body ">
                        <h6 class="card-category">Simple Starter</h6>
                        <h1 class="card-title">
                          <small>$</small>0</h1>
                        <ul>
                          <li>
                            <b>1</b> Event Per Year</li>
                          <li>
                            <b>Unlimited</b> Users</li>
                          <li>
                            <b>Unlimited</b> Items</li>
                          <li>
                            <b>Basic</b> Reports</li>
                        </ul>
                        <a href="#pablo" class="btn btn-rose btn-round">
                          Sign Up Free
                        </a>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="card card-pricing bg-rose card-plain">
                      <div class="card-body ">
                        <h6 class="card-category">HTML &amp; Sketch Package</h6>
                        <h1 class="card-title">
                          <small>$</small>39</h1>
                        <ul>
                          <li>
                            <b>5</b> Events Per Year</li>
                          <li>
                            <b>Unlimited</b> Users</li>
                          <li>
                            <b>Unlimited</b> Items</li>
                          <li>
                            <b>Advanced</b> Reports</li>
                        </ul>
                        <a href="#pablo" class="btn btn-white btn-round">
                          Buy Now!
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="tab-pane" id="monthly">
                <div class="row">
                  <div class="col-md-6">
                    <div class="card card-pricing card-raised">
                      <div class="card-body ">
                        <h6 class="card-category">Simple Starter</h6>
                        <h1 class="card-title">
                          <small>$</small>0</h1>
                        <ul>
                          <li>
                            <b>1</b> Event Per Year</li>
                          <li>
                            <b>Unlimited</b> Users</li>
                          <li>
                            <b>Unlimited</b> Items</li>
                          <li>
                            <b>Basic</b> Reports</li>
                        </ul>
                        <a href="#pablo" class="btn btn-rose btn-round">
                          Sign Up Free
                        </a>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="card card-pricing bg-rose card-plain">
                      <div class="card-body ">
                        <h6 class="card-category">HTML &amp; Sketch Package</h6>
                        <h1 class="card-title">
                          <small>$</small>69</h1>
                        <ul>
                          <li>
                            <b>5</b> Events Per Year</li>
                          <li>
                            <b>Unlimited</b> Users</li>
                          <li>
                            <b>Unlimited</b> Items</li>
                          <li>
                            <b>Advanced</b> Reports</li>
                        </ul>
                        <a href="#pablo" class="btn btn-white btn-round">
                          Buy Now!
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--     *********    END PRICING 5      *********      -->

    <!--<div class="pricing-2">-->
      <!--<div class="row">-->
        <!--<div class="col-md-6 ml-auto mr-auto text-center">-->
          <!--<ul class="nav nav-pills nav-pills-rose" role="tablist">-->
            <!--<li class="nav-item">-->
              <!--<a class="nav-link active" href="#monthly" data-toggle="tab">Monthly</a>-->
            <!--</li>-->
            <!--<li class="nav-item">-->
              <!--<a class="nav-link" href="#yearly" data-toggle="tab">Yearly</a>-->
            <!--</li>-->
          <!--</ul>-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="tab-content tab-space">-->
        <!--<div class="tab-pane active" id="monthly1" aria-expanded="true">-->
          <!--<div class="row">-->
            <!--<div class="col-md-4">-->
              <!--<div class="card card-pricing card-plain">-->
                <!--<div class="card-body">-->
                  <!--<h6 class="card-category text-info">Free</h6>-->
                  <!--<h1 class="card-title">-->
                    <!--<small>$</small>0-->
                    <!--<small>/mo</small>-->
                  <!--</h1>-->
                  <!--<ul>-->
                    <!--<li>-->
                      <!--<b>1</b> Project</li>-->
                    <!--<li>-->
                      <!--<b>5</b> Team Members</li>-->
                    <!--<li>-->
                      <!--<b>55</b> Personal Contacts</li>-->
                    <!--<li>-->
                      <!--<b>5.000</b> Messages</li>-->
                  <!--</ul>-->
                  <!--<a href="#pablo" class="btn btn-rose btn-raised btn-round">-->
                    <!--Get Started-->
                  <!--</a>-->
                <!--</div>-->
              <!--</div>-->
            <!--</div>-->
            <!--<div class="col-md-4">-->
              <!--<div class="card card-pricing card-raised bg-rose">-->
                <!--<div class="card-body">-->
                  <!--<h6 class="card-category text-info">Premium</h6>-->
                  <!--<h1 class="card-title">-->
                    <!--<small>$</small>39-->
                    <!--<small>/mo</small>-->
                  <!--</h1>-->
                  <!--<ul>-->
                    <!--<li>-->
                      <!--<b>500</b> Projects</li>-->
                    <!--<li>-->
                      <!--<b>50</b> Team Members</li>-->
                    <!--<li>-->
                      <!--<b>125</b> Personal Contacts</li>-->
                    <!--<li>-->
                      <!--<b>15.000</b> Messages</li>-->
                  <!--</ul>-->
                  <!--<a href="#pablo" class="btn btn-white btn-raised btn-round">-->
                    <!--Get Started-->
                  <!--</a>-->
                <!--</div>-->
              <!--</div>-->
            <!--</div>-->
            <!--<div class="col-md-4">-->
              <!--<div class="card card-pricing card-plain">-->
                <!--<div class="card-body">-->
                  <!--<h6 class="card-category text-info">Platinum</h6>-->
                  <!--<h1 class="card-title">-->
                    <!--<small>$</small>199-->
                    <!--<small>/mo</small>-->
                  <!--</h1>-->
                  <!--<ul>-->
                    <!--<li>-->
                      <!--<b>1000</b> Projects</li>-->
                    <!--<li>-->
                      <!--<b>100</b> Team Members</li>-->
                    <!--<li>-->
                      <!--<b>550</b> Personal Contacts</li>-->
                    <!--<li>-->
                      <!--<b>50.000</b> Messages</li>-->
                  <!--</ul>-->
                  <!--<a href="#pablo" class="btn btn-rose btn-raised btn-round">-->
                    <!--Get Started-->
                  <!--</a>-->
                <!--</div>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
        <!--<div class="tab-pane" id="yearly1" aria-expanded="true">-->
          <!--<div class="row">-->
            <!--<div class="col-md-4">-->
              <!--<div class="card card-pricing card-plain">-->
                <!--<div class="card-body">-->
                  <!--<h6 class="card-category text-info">Free</h6>-->
                  <!--<h1 class="card-title">-->
                    <!--<small>$</small>0-->
                    <!--<small>/mo</small>-->
                  <!--</h1>-->
                  <!--<ul>-->
                    <!--<li>-->
                      <!--<b>1</b> Project</li>-->
                    <!--<li>-->
                      <!--<b>5</b> Team Members</li>-->
                    <!--<li>-->
                      <!--<b>55</b> Personal Contacts</li>-->
                    <!--<li>-->
                      <!--<b>5.000</b> Messages</li>-->
                  <!--</ul>-->
                  <!--<a href="#pablo" class="btn btn-rose btn-raised btn-round">-->
                    <!--Get Started-->
                  <!--</a>-->
                <!--</div>-->
              <!--</div>-->
            <!--</div>-->
            <!--<div class="col-md-4">-->
              <!--<div class="card card-pricing card-raised bg-rose">-->
                <!--<div class="card-body">-->
                  <!--<h6 class="card-category text-info">Premium</h6>-->
                  <!--<h1 class="card-title">-->
                    <!--<small>$</small>79-->
                    <!--<small>/mo</small>-->
                  <!--</h1>-->
                  <!--<ul>-->
                    <!--<li>-->
                      <!--<b>500</b> Projects</li>-->
                    <!--<li>-->
                      <!--<b>50</b> Team Members</li>-->
                    <!--<li>-->
                      <!--<b>125</b> Personal Contacts</li>-->
                    <!--<li>-->
                      <!--<b>15.000</b> Messages</li>-->
                  <!--</ul>-->
                  <!--<a href="#pablo" class="btn btn-white btn-raised btn-round">-->
                    <!--Get Started-->
                  <!--</a>-->
                <!--</div>-->
              <!--</div>-->
            <!--</div>-->
            <!--<div class="col-md-4">-->
              <!--<div class="card card-pricing card-plain">-->
                <!--<div class="card-body">-->
                  <!--<h6 class="card-category text-info">Platinum</h6>-->
                  <!--<h1 class="card-title">-->
                    <!--<small>$</small>199-->
                    <!--<small>/mo</small>-->
                  <!--</h1>-->
                  <!--<ul>-->
                    <!--<li>-->
                      <!--<b>1000</b> Projects</li>-->
                    <!--<li>-->
                      <!--<b>100</b> Team Members</li>-->
                    <!--<li>-->
                      <!--<b>550</b> Personal Contacts</li>-->
                    <!--<li>-->
                      <!--<b>50.000</b> Messages</li>-->
                  <!--</ul>-->
                  <!--<a href="#pablo" class="btn btn-rose btn-raised btn-round">-->
                    <!--Get Started-->
                  <!--</a>-->
                <!--</div>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
    <hr>
    <!-- ============================================================= SECTION – FAQ ============================================================= -->
    <a name="faq"></a>
    <div class="features-2">
      <div class="text-center">
        <h3 class="title">Frequently Asked Questions</h3>
      </div>
      <div class="row">
        <div class="col-md-4 ml-auto">
          <div class="info info-horizontal">
            <div class="icon icon-info">
              <i class="material-icons">card_membership</i>
            </div>
            <div class="description">
              <h4 class="info-title">Can I cancel my subscription?</h4>
              <p>Yes, you can cancel and perform other actions on your subscriptions via the My Account page. </p>
            </div>
          </div>
        </div>
        <div class="col-md-4 mr-auto">
          <div class="info info-horizontal">
            <div class="icon icon-success">
              <i class="material-icons">card_giftcard</i>
            </div>
            <div class="description">
              <h4 class="info-title">Is there any discount for an annual subscription?</h4>
              <p>Yes, we offer roughly a 40% discount if you choose annual subscription for any plan.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 ml-auto">
          <div class="info info-horizontal">
            <div class="icon icon-success">
              <i class="material-icons">attach_money</i>
            </div>
            <div class="description">
              <h4 class="info-title">Which payment methods do you take?</h4>
              <p>Stripe supports all major credit cards.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4 mr-auto">
          <div class="info info-horizontal">
            <div class="icon icon-rose">
              <i class="material-icons">view_carousel</i>
            </div>
            <div class="description">
              <h4 class="info-title">Can I switch plans later?</h4>
              <p>Yes you can switch from a free to a paid plan at anytime. You can also switch from monthly to yearly.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 ml-auto">
          <div class="info info-horizontal">
            <div class="icon icon-info">
              <i class="material-icons">help</i>
            </div>
            <div class="description">
              <h4 class="info-title">What support options do i have?</h4>
              <p>Currently we have email and chat support.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4 mr-auto">
          <div class="info info-horizontal">
            <div class="icon icon-warning">
              <i class="material-icons">local_atm</i>
            </div>
            <div class="description">
              <h4 class="info-title">Is there a setup fee?</h4>
              <p>No setup fees. It's free to check it out.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 mr-auto">
          <div class="info info-horizontal">
            <div class="icon icon-rose">
              <i class="material-icons">question_answer</i>
            </div>
            <div class="description">
              <h4 class="info-title">Any other questions we can answer?</h4>
              <p>We are happy to help you.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row justify-content-center">

          <a href="/{{ 'contact' }}" class="btn btn-rose btn-raised center-block">
            Contact us
          </a>
      </div>
    </div>
    <!-- ============================================================= SECTION – FAQ : END ============================================================= -->
  </div>
</div>

