---
layout: default
---

<!-- ============================================================= MAIN ============================================================= -->

<main>

  <!-- ============================================================= SECTION – PRICING TABLES ============================================================= -->

  <section id="pricing-tables">
    <div class="container inner">

      <div class="row">
        <div class="col-md-8 col-sm-9 center-block text-center">
          <header>
            <h1>Simple pricing, no surprises</h1>
            <p>During the BETA program and even after there are no access charges to the platform. After the BETA we will have simple tiers of pricing. We would like to offer a simple free tier for smaller organizations.</p>
            <div class="icon">
              <i class="icon-credit-card icn lg"></i>
            </div><!-- /.icon -->
          </header>

          <p>We will provide the most cost effective solution for payments. Currently the average cost of credit card processing is 2.9% + 0.30. The interchange rates vary between card company and type of transaction. We have no control over these prices as they are set by VISA, MC, and Amex. </p>
        </div><!-- /.col -->
      </div><!-- /.row -->



    </div><!-- /.container -->
  </section>

  <!-- ============================================================= SECTION – PRICING TABLES : END ============================================================= -->


  <!-- ============================================================= SECTION – FAQ ============================================================= -->

  <section id="faq" class="light-bg">
    <div class="container inner">

      <div class="row">
        <div class="col-md-8 col-sm-9 center-block text-center">
          <header>
            <h1>Questions?</h1>
            <p>IF you have any other questions please contact us.</p>
          </header>
        </div><!-- /.col -->
      </div><!-- /.row -->

      <div class="row">

        <div class="col-sm-6 inner-right-sm inner-top-sm">

          <h3>Are there any contracts?</h3>
          <p>No contracts.</p>

          <h3>Can I switch plans later?</h3>
          <p>You can switch between whatever plan makes sense for your situation.</p>

          <h3>What support options do i have?</h3>
          <p>Currently we have email and chat support.</p>

        </div><!-- /.col -->

        <div class="col-sm-6 inner-left-sm inner-top-sm">

          <h3>Is there a setup fee?</h3>
          <p>No setup fees. It's free to check it out.</p>

          <h3>What types of payment methods are accepted?</h3>
          <p>We will accept all major credit cards.</p>

          <h3>Can I cancel my account at any time?</h3>
          <p>We would hate to see you go but you can cancel your account anytime.</p>

        </div><!-- /.col -->

      </div><!-- /.row -->

    </div><!-- /.container -->
  </section>

  <!-- ============================================================= SECTION – FAQ : END ============================================================= -->


{% include sections/contact-us-plain.html %}

</main>

<!-- ============================================================= MAIN : END ============================================================= -->
