<div class="container">
    <div class="navbar-translate">
        <a class="navbar-brand" href={{ site.url }}><img style="padding-right: 5px; max-height: 40px" src="/{{ site.path.images }}/gorilla-head-color.png"/> {{ site.company }}</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="sr-only">Toggle navigation</span>
            <span class="navbar-toggler-icon"></span>
            <span class="navbar-toggler-icon"></span>
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav ml-auto">

            <li class="nav-item">
                <a href="/{{ 'products' }}" class="nav-link">
                    <i class="material-icons">web</i> Products
                </a>
            </li>
             <!--Product Dropdown-->
            <!--<li class="dropdown nav-item">-->
                <!--<a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">-->
                    <!--<i class="material-icons">web</i> Products-->
                <!--</a>-->
                <!--<div class="dropdown-menu dropdown-with-icons">-->
                    <!--<a href="/products.html" class="dropdown-item">-->
                        <!--<i class="material-icons">layers</i> Products Overview-->
                    <!--</a>-->

                    <!--<a href="/products/donor-relations-manager" class="dropdown-item">-->
                        <!--<i class="material-icons">people</i> Donor Relations Manager-->
                    <!--</a>-->

                    <!--<a href="/products/auction-management.html" class="dropdown-item">-->
                        <!--<i class="material-icons">local_atm</i> Auction Management-->
                    <!--</a>-->

                    <!--<a href="/products/event-management.html" class="dropdown-item">-->
                        <!--<i class="material-icons">today</i> Event Management-->
                    <!--</a>-->
                    <!--&lt;!&ndash;<a href="/{{ 'tour' }}" class="dropdown-item">&ndash;&gt;-->
                        <!--&lt;!&ndash;<i class="material-icons">bubble_chart</i> Tour&ndash;&gt;-->
                    <!--&lt;!&ndash;</a>&ndash;&gt;-->
                    <!--&lt;!&ndash;<a href="/{{ 'pricing' }}" class="dropdown-item">&ndash;&gt;-->
                        <!--&lt;!&ndash;<i class="material-icons">attach_money</i> Pricing&ndash;&gt;-->
                    <!--&lt;!&ndash;</a>&ndash;&gt;-->
                    <!--&lt;!&ndash;<a href="/{{ 'docs' }}" class="dropdown-item">&ndash;&gt;-->
                        <!--&lt;!&ndash;<i class="material-icons">notes</i> Documentation&ndash;&gt;-->
                    <!--&lt;!&ndash;</a>&ndash;&gt;-->
                    <!--&lt;!&ndash;<a href="https://support.gorillagive.com" class="dropdown-item">&ndash;&gt;-->
                        <!--&lt;!&ndash;<i class="material-icons">help_outline</i> Support&ndash;&gt;-->
                    <!--&lt;!&ndash;</a>&ndash;&gt;-->
                <!--</div>-->
            <!--</li>-->
            <li class="nav-item">
                <a href="/{{ 'apps' }}" class="nav-link">
                    <i class="material-icons">apps</i> Apps
                </a>
            </li>
            <li class="nav-item">
                <a href="/{{ 'blog' }}" class="nav-link">
                    <i class="material-icons">list</i> Blog
                </a>
            </li>
            <li class="nav-item">
                <a href="/{{ 'about' }}" class="nav-link">
                    <i class="material-icons">people</i> About Us
                </a>
            </li>
            <li class="nav-item">
                <a href="/{{ 'contact' }}" class="nav-link">
                    <i class="material-icons">mail</i> Contact
                </a>
            </li>




        </ul>
        <ul class="navbar-nav ml-auto"><li class="button-container nav-item iframe-esfxtern">
            <li class="nav-item">
                <a href="https://app.gorillagive.com/login" class="nav-link">
                    Sign In
                </a>
            </li>
            <a href="https://app.gorillagive.com/signup" target="_blank" class="btn  btn-danger ">
                Sign Up
            </a>
        </li></ul>
    </div>
</div>