---
layout: default
---
<!-- hero banner -->
<section id="hero" class="light-bg img-bg-bottom img-bg-softer" style="background-image: url({{ site.path.images | prepend: site.baseurl }}/art/slider03.jpg);">
  <div class="container inner">
    <div class="row">
      <div class="col-md-8 col-sm-9">
        <header>
          <h1>Hosting an event</h1>
          <p>{{ site.company }} is here to help you run it</p>
          <a href="#" class="btn btn-large">Create An Event</a> <a href="#" class="btn btn-large">Search For An Event</a>
        </header>
      </div>
    </div>
  </div>
</section>
<!-- display event help gorilla give offers -->
<section id="services">
  <div class="container inner">
    <div class="row">
      <div class="col-xs-12">
        <div class="tabs tabs-services tabs-circle-top tab-container">
          <ul class="etabs text-center">
            <li class="tab"><a href="#tab-1"><div><i class="icon-lamp"></i></div>Create An Event</a></li>
            <li class="tab"><a href="#tab-2"><div><i class="icon-flow-tree"></i></div>Invite Guests</a></li>
            <li class="tab"><a href="#tab-3"><div><i class="icon-beaker"></i></div>Layout An Event</a></li>
            <li class="tab"><a href="#tab-4"><div><i class="icon-code"></i></div>Guest Check-In</a></li>
            <li class="tab"><a href="#tab-5"><div><i class="icon-thumbs-up-1"></i></div>Auction Software</a></li>
            <li class="tab"><a href="#tab-6"><div><i class="icon-megaphone-1"></i></div>Tax Automation with Intuit TurboTax</a></li>
          </ul>
          <div class="panel-container">
            <div class="tab-content" id="tab-1">
              <div class="row">
                <div class="col-md-5 col-md-offset-1 col-sm-6 inner-right-xs">
                  <figure><img src="{{ site.path.images | prepend: site.baseurl }}/art/product05.jpg" alt=""></figure>
                </div>
                <div class="col-md-5 col-sm-6 inner-top-xs inner-left-xs">
                  <h3>Create An Event</h3>
                  <p>Event hosts can easily create events once registered on {{ site.company }}. Once an event is created, mantinence of the event is available online as well.</p>
                </div>
              </div>
            </div>
            <div class="tab-content" id="tab-2">
              <div class="row">
                <div class="col-md-5 col-md-push-5 col-md-offset-1 col-sm-6 col-sm-push-6 inner-left-xs">
                  <figure><img src="{{ site.path.images | prepend: site.baseurl }}/art/product01.jpg" alt=""></figure>
                </div>
                <div class="col-md-5 col-md-pull-5 col-sm-6 col-sm-pull-6 inner-top-xs inner-right-xs">
                  <h3>Invite Guests</h3>
                  <p>Use {{ site.company }} to invite your guests through social media such as Facebook, Twitter, LinkedIn or Google Play. Invites can also be sent out in an email format.</p>
                </div>
              </div>
            </div>
            <div class="tab-content" id="tab-3">
              <div class="row">
                <div class="col-md-4 col-md-push-3 col-md-offset-1 col-sm-6 inner-left-xs inner-right-xs">
                  <figure><img src="{{ site.path.images | prepend: site.baseurl }}/art/product06.jpg" alt=""></figure>
                </div>
                <div class="col-md-3 col-md-pull-4 col-sm-6 inner-top-xs">
                  <h3>Layout An Event</h3>
                  <p>{{ site.company }} lets event hosts use an interface to layout the event floorplan so that once the event comes, setup will have a layout to follow.</p>
                </div>
                <div class="col-md-3 col-sm-6 inner-top-xs">
                  <h3>Table Layout</h3>
                  <p>Once event hosts input the size of the hall where the event is taking place, they can drag and drop tables and stage to have a floorplan all set for event night.</p>
                </div>
              </div>
            </div>
            <div class="tab-content" id="tab-4">
              <div class="row">
                <div class="col-sm-8 center-block text-center">
                  <h3>Guest Check-In</h3>
                  <p>{{ site.company }} has also added a feature for organization hosts to have guest check-in setup through a mobile app. This saves costs on how many people are required at guest check ins.</p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-5 col-sm-6 col-xs-8 inner-top-xs center-block text-center">
                  <figure><img src="{{ site.path.images | prepend: site.baseurl }}/art/humans01.jpg" alt=""></figure>
                </div>
              </div>
            </div>
            <div class="tab-content" id="tab-5">
              <div class="row">
                <div class="col-md-8 col-sm-9 center-block text-center">
                  <h3>Auction Software</h3>
                  <p>{{ site.company }} offers auction software that gives the event host an easy way to track items being auctioned off. There is also the option to host silent auction through mobile and the web during an event. Guests and users are also able to directly donate to organizations through a mobile app, useful if they cannot attend an event.</p>
                </div>
              </div>
            </div>
            <div class="tab-content" id="tab-6">
              <div class="row">
                <div class="col-sm-8 center-block text-center">
                  <h3>Tax Automation through Intuit TurboTax</h3>
                  <p>{{ site.company }} has partnered with Intuit TurboTax to give guests and organizations an easy way to keep track of their donations.</p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-5 col-sm-6 col-xs-8 inner-top-xs center-block text-center">
                  <figure><img src="{{ site.path.images | prepend: site.baseurl }}/art/humans01.jpg" alt=""></figure>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
