---
layout: index
---
<!-- ============================================================= MAIN ============================================================= -->

<main>


  <!-- ============================================================= SECTION – PRODUCT ============================================================= -->

  <section id="product">
    <div class="container inner">

      <div class="row">
        <div class="col-sm-6 ml-auto">
          <figure><img src="/{{ site.path.images }}/cloud-platform.png" style="max-height:400px;max-width:100%;margin:auto;display:block" class="rounded" alt="platform image"></figure>
        </div><!-- /.col -->

        <div class="col-sm-6 inner-top-xs inner-left-xs">
          <h2>A platform with solutions for all your fundraising needs</h2>
          <p>We have a suite of software solutions for all your needs. Whether you are a small nonprofit or an international one we will have solutions for you every step of the way.</p>
          <a href="/{{ 'products' }}" class="txt-btn">View Products</a>
        </div><!-- /.col -->

      </div><!-- /.row -->
      <div class="section-space"></div>
      <div class="row inner-top-md">
        <div class="d-sm-none col-sm-6 col-sm-push-6 inner-left-xs">
          <figure><img src="/{{ site.path.images }}/app-construction.png" style="max-height:300px;max-width:100%;margin:auto;display:block" class="rounded" alt="apps under construction"></figure>
        </div><!-- /.col -->
        <div class="col-sm-6 ml-auto">
          <h2>A growing selection of apps</h2>
          <p>We are working on adding more apps to not only help manage your events, auctions, etc., but also smaller segments of your events.</p>
          <a href="/{{ 'apps' }}" class="txt-btn">Learn More About Apps</a>
        </div><!-- /.col -->

        <div class="d-none d-sm-block col-sm-6 col-sm-push-6 inner-left-xs mr-auto">
          <figure><img src="/{{ site.path.images }}/app-construction.png" style="max-height:300px;max-width:100%;margin:auto;display:block" class="rounded" alt="apps under construction"></figure>
        </div><!-- /.col -->



      </div><!-- /.row -->
      <div class="section-space"></div>
      <div class="row inner-top-md">

        <div class="col-sm-6">
          <figure><img src="/{{ site.path.images }}/volunteer_connect.jpeg" style="max-height:300px;max-width:100%;margin:auto;display:block" class="rounded" alt="thumbs up"></figure>
        </div><!-- /.col -->

        <div class="col-sm-6 inner-top-xs inner-left-xs">
          <h2>Connect with Volunteers</h2>
          <p>Managing volunteers is simplified with our tools for your organization and volunteers to easily communicate availability and status via the platform.</p>
        </div><!-- /.col -->

      </div><!-- /.row -->

    </div><!-- /.container -->
  </section>
  <div class="section-space"></div>

  <!-- ============================================================= SECTION – PRODUCT : END ============================================================= -->


  <!-- ============================================================= SECTION – GET IN TOUCH ============================================================= -->
  <!--     *********    IMAGE SUBSCRIBE LINE     *********      -->
  <div class="subscribe-line subscribe-line-image" style="background-image: url('./assets/img/bg7.jpg');">
    <div class="container">
      <div class="row">
        <div class="col-md-6 ml-auto mr-auto">
          <div class="text-center">
            <header style="color: white">
              <h1>Need help getting started?</h1>
              <p>Send us a message and let us know how we can help.</p>
            </header>

          </div>
          <div class="row justify-content-center">
            <a href="/contact" class="btn btn-large btn-danger">Get in touch</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--     *********   IMAGE SUBSCRIBE LINE     *********      -->
  <!-- ============================================================= SECTION – GET IN TOUCH : END ============================================================= -->

  {% include sections/social.html %}
</main>

<!-- ============================================================= MAIN : END ============================================================= -->
