---
layout: index
---
<!-- ============================================================= MAIN ============================================================= -->

<main>


  <!-- ============================================================= SECTION – PRODUCT ============================================================= -->

  <section id="product">
    <div class="container inner">

      <div class="row">
        <div class="col-sm-6 ml-auto">
          <figure><img src="/{{ site.path.images }}/cloud-platform.png" style="max-height:400px;max-width:100%;margin:auto;display:block" class="rounded" alt="platform image"></figure>
        </div><!-- /.col -->

        <div class="col-sm-6 inner-top-xs inner-left-xs">
          <h2>A platform with solutions for all your fundraising needs</h2>
          <p>We have a suite of software solutions for all your needs. Whether you are a small nonprofit or an international one we will have solutions for you every step of the way.</p>
          <a href="/{{ 'products' }}" class="txt-btn">View Products</a>
        </div><!-- /.col -->

      </div><!-- /.row -->
      <div class="section-space"></div>
      <div class="row inner-top-md">
        <div class="d-sm-none col-sm-6 col-sm-push-6 inner-left-xs">
          <figure><img src="/{{ site.path.images }}/app-construction.png" style="max-height:300px;max-width:100%;margin:auto;display:block" class="rounded" alt="apps under construction"></figure>
        </div><!-- /.col -->
        <div class="col-sm-6 ml-auto">
          <h2>A growing selection of apps</h2>
          <p>We are working on adding more apps to not only help manage your events, auctions, etc., but also smaller segments of your events.</p>
          <a href="/{{ 'apps' }}" class="txt-btn">Learn More About Apps</a>
        </div><!-- /.col -->

        <div class="d-none d-sm-block col-sm-6 col-sm-push-6 inner-left-xs mr-auto">
          <figure><img src="/{{ site.path.images }}/app-construction.png" style="max-height:300px;max-width:100%;margin:auto;display:block" class="rounded" alt="apps under construction"></figure>
        </div><!-- /.col -->



      </div><!-- /.row -->
      <div class="section-space"></div>
      <div class="row inner-top-md">

        <div class="col-sm-6">
          <figure><img src="/{{ site.path.images }}/volunteer_connect.jpeg" style="max-height:300px;max-width:100%;margin:auto;display:block" class="rounded" alt="thumbs up"></figure>
        </div><!-- /.col -->

        <div class="col-sm-6 inner-top-xs inner-left-xs">
          <h2>Connect with Volunteers</h2>
          <p>Managing volunteers is simplified with our tools for your organization and volunteers to easily communicate availability and status via the platform.</p>
          <!--<a href="/{{'volunteers'}}" class="txt-btn">Learn More</a>-->
        </div><!-- /.col -->

      </div><!-- /.row -->

    </div><!-- /.container -->
  </section>
  <div class="section-space"></div>

  <!-- ============================================================= SECTION – PRODUCT : END ============================================================= -->


  <!-- ============================================================= SECTION – VISIT OUR STORE ============================================================= -->

  <!--&lt;!&ndash;     *********    IMAGE SUBSCRIBE LINE     *********      &ndash;&gt;-->
  <!--<div class="subscribe-line section-light-gray">-->
    <!--<div class="container">-->
      <!--<div class="row">-->
        <!--<div class="col-md-6 ml-auto mr-auto">-->
          <!--<div class="text-center">-->
            <!--<h3 class="title">Signup Today!</h3>-->
            <!--<p class="description">-->
              <!--Sign up to access to our beta.-->
            <!--</p>-->
          <!--</div>-->
          <!--<div class="row justify-content-center">-->
            <!--<a href="/{{'signup'}}" class="btn btn-large btn-primary">Sign Up</a>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
  <!--&lt;!&ndash;     *********   IMAGE SUBSCRIBE LINE     *********      &ndash;&gt;-->
  <!-- ============================================================= SECTION – VISIT OUR STORE : END ============================================================= -->


  <!-- ============================================================= SECTION – REASONS ============================================================= -->

  <section id="reasons">
    <div class="container inner">

      <!--<div class="row">-->
        <!--<div class="col-md-8 col-sm-9 center-block text-center">-->
          <!--<header>-->
            <!--<h1>5 Reasons <br>why you should use our product</h1>-->
            <!--<p>Doloreiur quia commolu dolupta oreprerum tibusam.</p>-->
          <!--</header>-->
        <!--</div>&lt;!&ndash; /.col &ndash;&gt;-->
      <!--</div>&lt;!&ndash; /.row &ndash;&gt;-->

      <!--<div class="row inner-top-sm">-->
        <!--<div class="col-xs-12">-->
          <!--<div class="tabs tabs-reasons tabs-circle-top tab-container">-->

            <!--<ul class="etabs text-center">-->
              <!--<li class="tab"><a href="#tab-1"><div>1</div>Function</a></li>-->
              <!--<li class="tab"><a href="#tab-2"><div>2</div>Simplicity</a></li>-->
              <!--<li class="tab"><a href="#tab-3"><div>3</div>Design</a></li>-->
              <!--<li class="tab"><a href="#tab-4"><div>4</div>Social</a></li>-->
              <!--<li class="tab"><a href="#tab-5"><div>5</div>Community</a></li>-->
            <!--</ul>&lt;!&ndash; /.etabs &ndash;&gt;-->

            <!--<div class="panel-container">-->

              <!--<div class="tab-content" id="tab-1">-->
                <!--<div class="row">-->

                  <!--<div class="col-md-5 col-md-push-5 col-md-offset-1 col-sm-6 col-sm-push-6 inner-left-xs">-->
                    <!--<figure><img src="assets/images/art/product04.jpg" alt=""></figure>-->
                  <!--</div>&lt;!&ndash; /.col &ndash;&gt;-->

                  <!--<div class="col-md-5 col-md-pull-5 col-sm-6 col-sm-pull-6 inner-top-xs inner-right-xs">-->
                    <!--<h3>Function</h3>-->
                    <!--<p>Magnis modipsae que lib voloratati andigen daepedor quiate ut reporemni aut labor. Laceaque quiae sitiorem ut restibusaes es tumquam core posae volor remped modis volor. Doloreiur qui commolu ptatemp dolupta orem retibusam emnis et consent accullignis lomnus.</p>-->
                  <!--</div>&lt;!&ndash; /.col &ndash;&gt;-->

                <!--</div>&lt;!&ndash; /.row &ndash;&gt;-->
              <!--</div>&lt;!&ndash; /.tab-content &ndash;&gt;-->

              <!--<div class="tab-content" id="tab-2">-->
                <!--<div class="row">-->

                  <!--<div class="col-md-5 col-md-offset-1 col-sm-6 inner-right-xs">-->
                    <!--<figure><img src="assets/images/art/product05.jpg" alt=""></figure>-->
                  <!--</div>&lt;!&ndash; /.col &ndash;&gt;-->

                  <!--<div class="col-md-5 col-sm-6 inner-top-xs inner-left-xs">-->
                    <!--<h3>Simplicity</h3>-->
                    <!--<p>Magnis modipsae que lib voloratati andigen daepedor quiate ut reporemni aut labor. Laceaque quiae sitiorem ut restibusaes es tumquam core posae volor remped modis volor. Doloreiur qui commolu ptatemp dolupta orem retibusam emnis et consent accullignis lomnus.</p>-->
                  <!--</div>&lt;!&ndash; /.col &ndash;&gt;-->

                <!--</div>&lt;!&ndash; /.row &ndash;&gt;-->
              <!--</div>&lt;!&ndash; /.tab-content &ndash;&gt;-->

              <!--<div class="tab-content" id="tab-3">-->
                <!--<div class="row">-->

                  <!--<div class="col-md-4 col-md-push-3 col-md-offset-1 col-sm-6 inner-left-xs inner-right-xs">-->
                    <!--<figure><img src="assets/images/art/product06.jpg" alt=""></figure>-->
                  <!--</div>&lt;!&ndash; /.col &ndash;&gt;-->

                  <!--<div class="col-md-3 col-md-pull-4 col-sm-6 inner-top-xs">-->
                    <!--<h3>Design</h3>-->
                    <!--<p>Magnis modipsae lib voloratati andigen daepedor quiate aut labor. Laceaque quiae sitiorem resti est lore tumquam core posae volor uso remped modis volor. Doloreiur qui commolu ptatemp dolupta orem retibusam emnis et consent it accullignis orum lomnus.</p>-->
                  <!--</div>&lt;!&ndash; /.col &ndash;&gt;-->

                  <!--<div class="col-md-3 col-sm-6 inner-top-xs">-->
                    <!--<h3>User interface</h3>-->
                    <!--<p>Magnis modipsae lib voloratati andigen daepedor quiate aut labor. Laceaque quiae sitiorem resti est lore tumquam core posae volor uso remped modis volor. Doloreiur qui commolu ptatemp dolupta orem retibusam emnis et consent it accullignis orum lomnus.</p>-->
                  <!--</div>&lt;!&ndash; /.col &ndash;&gt;-->

                <!--</div>&lt;!&ndash; /.row &ndash;&gt;-->
              <!--</div>&lt;!&ndash; /.tab-content &ndash;&gt;-->

              <!--<div class="tab-content" id="tab-4">-->

                <!--<div class="row">-->
                  <!--<div class="col-md-5 col-sm-6 col-xs-8 center-block text-center">-->
                    <!--<figure><img src="assets/images/art/product03.jpg" alt=""></figure>-->
                  <!--</div>&lt;!&ndash; /.col &ndash;&gt;-->
                <!--</div>&lt;!&ndash; /.row &ndash;&gt;-->

                <!--<div class="row">-->
                  <!--<div class="col-sm-8 center-block text-center inner-top-xs">-->
                    <!--<h3>Social</h3>-->
                    <!--<p>Magnis modipsae que lib voloratati andigen daepedor quiate ut reporemni aut labor. Laceaque sitiorem ut restibusaes es tumquam core posae volor remped modis volor. Doloreiur qui commolu ptatemp dolupta orem retibusam emnis et consent accullignis lomnus.</p>-->
                  <!--</div>&lt;!&ndash; /.col &ndash;&gt;-->
                <!--</div>&lt;!&ndash; /.row &ndash;&gt;-->

              <!--</div>&lt;!&ndash; /.tab-content &ndash;&gt;-->

              <!--<div class="tab-content" id="tab-5">-->
                <!--<div class="row">-->
                  <!--<div class="col-md-8 col-sm-9 center-block text-center">-->
                    <!--<h3>Community</h3>-->
                    <!--<p>Magnis modipsae que lib voloratati andigen daepeditem quiate ut reporemni aut labor. Laceaque quiae sitiorem rest non restibusaes es tumquam core posae volor remped modis volor. Doloreiur qui commolu ptatemp dolupta oreprerum tibusam emnis et consent accullignis.</p>-->
                  <!--</div>&lt;!&ndash; /.col &ndash;&gt;-->
                <!--</div>&lt;!&ndash; /.row &ndash;&gt;-->
              <!--</div>&lt;!&ndash; /.tab-content &ndash;&gt;-->

            <!--</div>&lt;!&ndash; /.panel-container &ndash;&gt;-->

          <!--</div>&lt;!&ndash; /.tabs &ndash;&gt;-->
        <!--</div>&lt;!&ndash; /.col &ndash;&gt;-->
      <!--</div>&lt;!&ndash; /.row &ndash;&gt;-->

    </div><!-- /.container -->
  </section>

  <!-- ============================================================= SECTION – REASONS : END ============================================================= -->


  <!-- ============================================================= SECTION – GET IN TOUCH ============================================================= -->

  <!--<section id="get-in-touch" class="inner-bottom">-->
    <!--<div class="container inner light-bg">-->
      <!--<div class="row">-->
        <!--<div class="col-md-8 col-sm-9 justify-content-center">-->
          <!--<header>-->
            <!--<h1>Need help getting started?</h1>-->
            <!--<p>Send us a message and let us know how we can help.</p>-->
          <!--</header>-->
          <!--<a href="/contact" class="btn btn-large btn-primary">Get in touch</a>-->
        <!--</div>&lt;!&ndash; /.col &ndash;&gt;-->
      <!--</div>&lt;!&ndash; /.row &ndash;&gt;-->
    <!--</div>&lt;!&ndash; /.container &ndash;&gt;-->
  <!--</section>-->
  <!--     *********    IMAGE SUBSCRIBE LINE     *********      -->
  <div class="subscribe-line subscribe-line-image" style="background-image: url('./assets/img/bg7.jpg');">
    <div class="container">
      <div class="row">
        <div class="col-md-6 ml-auto mr-auto">
          <div class="text-center">
            <header style="color: white">
              <h1>Need help getting started?</h1>
              <p>Send us a message and let us know how we can help.</p>
            </header>

          </div>
          <div class="row justify-content-center">
            <a href="/contact" class="btn btn-large btn-danger">Get in touch</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--     *********   IMAGE SUBSCRIBE LINE     *********      -->
  <!-- ============================================================= SECTION – GET IN TOUCH : END ============================================================= -->

  {% include sections/social.html %}
</main>

<!-- ============================================================= MAIN : END ============================================================= -->
